{% extends 'staff/base.html' %} 

{% block title %}Update Staff{% endblock %} 

{% block content %} 

<div class="container">
    <div class="row display-2 crimson">
        Update This Staff
    </div>
    <hr>
    <form action="{% url 'staff:staff-update' object.id %}" method="post">{% csrf_token %}
        
        {% if no_good_error %}
        <div class="row detail text-danger">
            {{ no_good_error }}
        </div>
        {% endif %}

        <div class="row my-2">
            <input type="text" name="name" 
            class="form-control"
            placeholder="Name"
            value="{{ object.name }}">
        </div>


        <div class="row my-2">
            <input type="text" 
            name="state_of_origin" 
            class="form-control" 
            placeholder="State of origin"
            value="{{ object.state_of_origin }}">
        </div>

        <div class="row my-2">
            <input type="text" 
            name="phone" 
            placeholder="Phone number"
            class="form-control" 
            value="{{ object.phone }}">
        </div>

        <div class="row my-2">
            <input type="email" 
            name="email" 
            class="form-control" 
            placeholder="Email"
            value="{{ object.email }}">
        </div>

        <div class="row my-2">
            <input type="text" 
            name="home_residence" 
            class="form-control" 
            placeholder="Home residence"
            value="{{ object.home_residence}}">
        </div>

        <div class="row my-2">
            <label for="date_of_employment">Date of employment</label>
            <input type="date" 
            name="date_of_employment" 
            class="form-control"
            placeholder="Date of Employment"
            {% if object.is_employed %}value="{{ date_of_employment }}"{% endif %}>
        </div>

        <div class="row my-2">
            <label for="date_of_leave">Date of Leaving</label>
            <input type="date" 
            name="date_of_leave" 
            class="form-control" 
            {% if object.has_left %}value="{{ date_of_leave }}"{% endif %}>
        </div>

        <div class="row my-2 border p-2">
            <label for="active"><input type="checkbox" name="active" id="active"
            {% if object.active %}checked{% endif %}> Active</label>
            
        </div>

        <div class="row">
            <div class="col-5 mx-3 btn btn-secondary my-2 text-center py-3"><a class="text-white" href="../">Cancel</a></div>
            <div class="col-5 mx-3 btn btn-success my-2"><button type="submit" class="mx-auto btn text-white my-2">Save</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}